// Styling for the masthead
header.masthead {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 10px;

    color: #464646;
    // background: url('../img/bg-pattern.png'), $theme-secondary;
    // background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    // background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    .header-content {
        max-width: 500px;
        // margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
            font-family: 'Knewave', cursive;
            text-transform: uppercase;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        margin-top: 10vh;
        // height: 25vh;
        min-height: 150px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            // text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}
